* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins300);
}

:root {
    --dark_blue: #12264B;
    --light_blue: #00B1EB;
    --yellow: #FFD100;
    --grey: #EDEDED;
    --dark_blue2: #252936;

    --poppins300: 'Poppins', sans-serif;
    --poppins500: 'Poppins', sans-serif;

}


header {
    border-bottom: 4px solid var(--yellow);
    background-color: var(--dark_blue);
    height: 100px;
    display: flex;
    align-items: center;
}

.posicionamento {
    width: 1400px;
    margin: 10px;

}

.posicionamento_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posicionamento_header img {
    width: 100px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 550px;
    margin-right: 650px;
}

header a {

    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 18px;
}


/* Pagina Inicial Volksway */
h1 {
    width: 1em;
    position: absolute;
    left: -999em;
    overflow: hidden;
}



/**======================================================================================BANNER**/

.banner {

    background-image: url(../produtoseserviços/img/banner_meteor_naestrada.png);
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.055) 50%, rgba(255, 255, 255, 0) 50%); */
    height: calc(100vh - 80px);
    background-size: cover;
    display: flex;


}

.banner_conteudo {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin: 200px 0 0 100px;
    width: 700px;
    height: 200px;
}

/* a semana de ofertas já começou!!! */
.banner_conteudo h2 {
    font-size: 50px;
    color: var(white);
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.774));

}

/* compre lançamentos exclusivos para quem é do clube e desbloqueie mais das coisas que voce ama. */
.banner_conteudo p {
    margin-top: 40px;
    font-size: 16px;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.774));
}

/* ver mais */
.banner_conteudo .btn_banner {
    background-color: var(--yellow);
    color: var(--dark_blue);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
    height: 55px;
    padding: 10px;
    font-weight: bolder
}

/**==========================================================================ofertas_especiais**/
/* ofertas_especiais */
.ofertas_h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 30px;
    gap: 10px;
    text-transform: capitalize;
}

/* ofertas */
.ofertas_h2 .h2_ofertas {
    color: var(--dark_blue);
}

/* especiais */
.ofertas_h2 .h2_especiais {
    color: var(--light_blue);
}

.ofertas_especiais {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/**=====================================================================================card_ofertas**/
.card_ofertas {
    background-color: #195F8C;
    width: 350px;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 5px;
}

.card_ofertas h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 10px;

}

.card_ofertas h4 {
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: lighter;

}

.card_ofertas img {
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;

}

.card_ofertas span {
    font-size: 16px;
    color: var(--dark_blue);
    font-weight: 900;
    font-size: 18px;
    margin: 8px auto;

}

.card_ofertas h5 {
    font-size: 12px;
    color: #000000;
    margin: 2px auto;
}

/* estou interessado */
.card_ofertas .btn_card {
    background-color: var(--light_blue);
    width: 230px;
    padding: 10px 10px;
    margin: 10px auto;
    border-radius: 30px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-weight: 600;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));

}

.card_ofertas h6 {
    color: #000000;
    font-size: 12px;
    text-transform: capitalize;
    margin: 1px auto;

}


.promocoes h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 330px;
    font-size: 40px;
    color: var(--yellow);
    text-transform: capitalize;

}

.promocoes p {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
}

.promocoes>div {
    background-color: var(--dark_blue);
    height: 480px;
    margin-top: -170px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card_promo img {
    width: 200px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    margin: 10px;
}


.card_azul {
    background-color: var(--dark_blue2);
    width: 210px;
    height: 100px;

    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 20px;

    margin: 5px;
    margin-top: -25px;

    border-radius: 20px;
    position: absolute;


}

.pneu_preco {
    background-color: white;
    border-radius: 20px;
    height: 25px;
    width: 110px;
    margin-top: -5px;
    margin-left: 13px;
    margin-bottom: 10px;
    padding: 3px 10px;
    color: var(--dark_blue);
}

.card_azul h3 {
    color: white;
    text-transform: capitalize;
    font-size: 16px;

    font-weight: lighter;
}

.card_azul h4 {
    color: white;
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
}

.card_azul span {
    color: var(--yellow);
    font-size: 16px;
    font-weight: lighter;
    text-transform: capitalize;
}

.noticias_h2 {
    display: flex;
    align-items: center;
    margin-left: 135px;
    margin-top: 70px;
    text-transform: capitalize;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 100px;

}

.noticias_h2 .h2_noticias {
    color: var(--dark_blue);

}

.noticias_h2 .h2_recentes {
    color: var(--light_blue);

}

.noticias_recentes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -50px;
    margin-left: 20px;

}

.noticias_recentes2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 20px;

}

.card_noticias img {
    width: 400px;
    border-radius: 10px 10px 0px 0px;

}

.card_branco {
    width: 400px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    margin-top: -10px;


}

.card_branco h3 {
    color: var(--dark_blue);
    font-size: 14px;
    margin: 10px 20px;
    font-weight: 900;
}

.card_branco p {
    color: var(--dark_blue);
    font-size: 12px;
    margin-left: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.card_branco .btn_noticias {
    background-color: var(--yellow);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px 130px;
    border-radius: 30px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--dark_blue);

}

footer {
    background-color: var(--dark_blue);
    height: 250px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

footer .bloco1 img {
    width: 100px;
    margin: 0 -60px;
}

footer .bloco1 h2 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 -40px;
}

footer .bloco1 span {
    font-size: 14px;
    font-weight: lighter;
    margin: 0 -38px;
}

footer .bloco2 li {
    text-transform: capitalize;
    list-style: none;
    font-weight: lighter;
    margin: 10px;
}

footer .bloco3 li {
    text-transform: capitalize;
    list-style: none;
    font-weight: lighter;
    margin: 10px;

}

footer .bloco4 {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

footer .bloco4 .instagram {
    width: 40px;

}

footer .bloco4 .facebook {
    width: 40px;
    margin: 10px;
}

footer .bloco4 .linkedin {
    width: 40px;
}
@media screen and (max-width: 1220px){
   
    .noticias_recentes {
        flex-wrap: wrap;
        gap: 20px;
    }
    .noticias_recentes2 {
        flex-wrap: wrap;
        gap: 20px;
    }
@media screen and (max-width: 1100px){
    .ofertas_especiais /* .card_ofertas */ {
        flex-wrap: wrap;
        gap: 300px;
        }
    .promocoes>div {
        display: none;
        }
    /* .posicionamento_header {
        display:none;
    }  */   

@media screen and (max-width: 915px){
    .bloco3{
        display: none;
       }

@media screen and (max-width: 696px){
    .menu_barras svg    {
        height: 50px;
        fill : var(--grey);
         }
    .posicionamento_header nav{
        display: none;
        position:absolute ;
        right: 0;
        top: 80px;
        flex-direction: column;
        z-index:1;
        padding: 50px 0;
        background: linear-gradient(114.61deg, rgba(22, 19, 181, 0.052) 1.08%, rgba(29, 14, 199, 0.117) 99.26%);
        border: 1px solid rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(15px);
        border-radius: 15px;
           }
    header nav a{
        margin: 10px 0 ;
        }
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: left;
        width: 300px;
        margin-right: 37px;
    }
    .banner_conteudo h2 {
        font-size: 30px;
    }
    .bloco1{
        display: flex;
        justify-content: center;
    }
    .bloco2{
        display: none;
    }
    footer .bloco4 {
        display: none;
    }

    footer .bloco1 h2 {
        display: none;
    }
    footer .bloco1 span {
        display: none;
    }

    @media screen and (max-width: 668px){
    header nav {
        display: none;
        }
    @media screen and (max-width: 320px){
        .noticias_h2 {
            margin-left: 50px;
        }
        .noticias_recentes{
            margin-left: 70px;
        }
        .noticias_recentes2{
            margin-left: 70px;
        }
        .ofertas_h2 {
            font-size: 20px;
        }
        footer {
            width: 500px;
        }
}/*320px*/
}/*668px*/
}/*969px*/
}/*915px*/
}/*1100px*/
}/*1220px*/